<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ImagesPath" value="./Images" />
    <add key="DataPath" value="./Data" />

    <add key="PostersFileName" value="posters.json" />
    <add key="CompaniesFileName" value="companies.json" />
    <add key="MoviesFileName" value="movies.json" />
    <add key="GenresFileName" value="genres.json" />
    <add key="FormatsFileName" value="formats.json" />
    <add key="QualitiesFileName" value="qualities.json" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>